{% include 'partials/header.twig' %}
<div id="content-wrapper_outer" style="background-image:url('{{ (post.primary_image) ? TimberImage(post.primary_image).src : TimberImage(site_options.default_primary_image).src }}');">
    <div id="content-wrapper_inner">
        <h1>{{ (post.title_override) ? post.title_override : post.title }}</h1>
        <div id="page-content">
            {% block content %}
                Sorry, no content.
            {% endblock %}
        </div>
        {% include 'partials/sidebar.twig' %}
    </div>
</div>
{% include 'partials/footer.twig' %}