body{
  color: #383b41;
  font-family: $font-rubik;
}

h1{
  $font-size: (50/16)*1em;
  $line-height: (56/50)*1em;
  font: 400 #{$font-size}/#{$line-height} $font-rubik;
  margin: 0 0 45px 0;

  @include mq('lt', 900px){
    font-size: (43/16)*1em;
  }
}

h2{
  $font-size: (34/16)*1em;
  $line-height: (40/34)*1em;
  font: 400 #{$font-size}/#{$line-height} $font-rubik;
  margin: 50px 0 25px 0;

  @include mq('lt', 900px){
    font-size: (30/16)*1em;
  }
}

h3{
  $font-size: (24/16)*1em;
  $line-height: (32/24)*1em;
  font: 400 #{$font-size}/#{$line-height} $font-rubik;
  margin: 50px 0 20px 0;
}

h4{
  $font-size: (18/16)*1em;
  $line-height: (24/18)*1em;
  font: 500 #{$font-size}/#{$line-height} $font-rubik;
  margin: 0 0 14px 0;
}

h5{
  $font-size: (18/16)*1em;
  $line-height: (24/18)*1em;
  font: 500 #{$font-size}/#{$line-height} $font-rubik;
  color: #383b41;
  margin: 20px 0;
}

h6{
  $font-size: (10/16)*1em;
  $line-height: normal;
  font: 700 #{$font-size}/#{$line-height} $font-rubik;
  color: #91bba1;
  margin: 0 0 20px 0;
}

a{
  color: #009bde;
  transition: color .3s;

  &:hover{
    color: #778692;
  }
}



// Buttons

.button-alert{
  $font-size: (14/16)*1em;
  $line-height: (17/14)*1em;
  font: 500 #{$font-size}/#{$line-height} $font-rubik;
  display: block;
  text-align: center;
  padding: 15px 10px;
  border: 1px solid #d86868;
  border-radius: 2px;
  background-color: rgba(238, 77, 115, 0);
  color: #d76767;
  text-decoration: none;
  transition: background-color .4s, color .3s;

  &:hover{
    background-color: rgba(#92bca2, .6);
    border-color: #92bca2;
    color: #383b41;
  }
}

.button-dropdown-nav{
  $font-size: (12/16)*1em;
  $line-height: normal;
  font: 500 #{$font-size}/#{$line-height} $font-rubik;
  display: flex;
  justify-content: space-between;
  color: #778692;
  padding: 20px;
  text-decoration: none;

  &:hover{
    color: #009bde;
  }

  .arrow{
    transform: rotate(-90deg) scale(.75);
    display: block;
  }
}

.button-standard{
  display: block;
  width: auto;
  $font-size: (14/17)*1em;
  $line-height: (17/14)*1em;
  font: 500 #{$font-size}/#{$line-height} $font-rubik;
  border: 1px solid #009bde;
  border-radius: 2px;
  background-color: transparent;
  padding: 15px 24px;
  color: #009dbe;
  text-decoration: none;
  transition: background-color .3s, color .3s;
  text-align: center;

  &:hover{
    background-color: #009bde;
    color: #ffffff;
  }
}

.bordered-box{
  background-color: rgba(244, 212, 115, 0);
  border: 1px solid #deedf4;
  border-radius: 2px;
}

// Blockquotes
blockquote{
  padding-top: 80px;
  position: relative;
  margin: 0;

  .quote-marks{
    @include sprite($quote);
    position: absolute;
    top: 0;
    left: 0;
  }

  .quote-text{
    display: block;
    $font-size: (22/16)*1em;
    $line-height: (34/22)*1em;
    font: 400 #{$font-size}/#{$line-height} $font-rubik;
    margin-bottom: 20px;
  }

  .quote-attribution{
    $font-size: (14/16)*1em;
    $line-height: normal;
    font: 500 #{$font-size}/#{$line-height} $font-rubik;
  }
}