.post-meta{
  color: #778692;
  margin-bottom: 15px;
  font-size: .8em;

  strong{
    font-weight: 500;
  }
}

.post-link{
  display: block;
  margin-top: 15px;
}

.post-pages{
  list-style: none;
  margin: 35px 0 0 0;
  padding: 0;

  li{
    display: inline-block;
  }
}