#body-wrapper{
  width: (1400/1920)*100%;
  margin: 0 auto;
  transition: width .3s;

  @include mq(lt, 1400px){
    width: (1700/1920)*100%;
  }

  @include mq(lt, 1200px){
    width: (1850/1920)*100%;
  }

  @include mq(lt, 1000px){
    width: 100%;
  }
}

#content-wrapper_outer{
  background: #ffffff none no-repeat left top;
  min-height: 500px;
  padding: 200px 0 0 150px;
  transition: padding .3s;

  @include mq('lt', 1400px){
    padding-left: 50px;
  }

  @include mq('lt', 1000px){
    padding: 0;
    background-size: contain;
  }
}
  #content-wrapper_inner{
    padding: 70px 0 70px 70px;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    transition: padding .3s;

    @include mq('lt', 1400px){
      background-color: rgba(#ffffff, .85);
      padding: 35px 0 35px 35px;
    }

    @include mq('lt', 1000px){
      padding-right: 35px;
    }

    @include mq('lt', 550px){
      padding: 15px;
    }

    h1{
      width: 100%;
    }
  }
    #page-content{
      width: (700/1030)*100%;
      transition: width .3s;

      @include mq('lt', 1000px){
        width: 100%;
      }

      p{
        font: 400 (22/16)*1em $font-rubik;
        line-height: (34/16)*1em;

        @include mq('lt', 900px){
          font-size: (18/16)*1em;
        }
      }

      iframe, img{
        max-width: 100%;
      }
    }

// Doctor Grid, MD
.doctor-grid{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;

  li{
    width: (220/700)*100%;
    margin: 0 (20/700)*100% 25px 0;

    @include mq('lt', 900px){
      width: 47%;
      margin: 0 3% 25px 0;

      &:nth-child(2n){
        margin-right: 0;
      }
    }

    @include mq('gt', 900px){
      &:nth-child(3n){
        margin-right: 0;
      }
    }

    @include mq('lt', 850px){
      width: 100%;
      display: flex;
      margin-right: 0;
      align-items: stretch;
    }

    @include mq('lt', 700px){
      display: block;
    }

    .doctor-photo{
      width: 100%;
      height: 150px;
      background-size: cover;
      background-position: center center;

      @include mq('lt', 850px){
        height: auto;
      }
      @include mq('lt', 700px){
        width: 100%;
        height: 300px;
        background-position: center top;
      }
    }

    .doctor-details_top{
      padding: 0 30px 30px 30px;

      @include mq('lt', 850px){
        width: 50%;
      }

      @include mq('lt', 700px){
        width: auto;
        padding: 0 15px 15px 15px;
      }
    }

    .doctor-details_bottom{
      border-top: 1px solid #deedf4;
      padding: 30px;

      @include mq('lt', 850px){
        width: 50%;
        padding: 30px 30px 30px 0;
      }

      @include mq('lt', 700px){
        width: auto;
        padding: 15px 15px 0 15px;
      }
    }

    .doctor-details-heading{
      display: block;
      $font-size: (12/16)*1em;
      $line-height: normal;
      font: 500 #{$font-size}/#{$line-height} $font-rubik;
      color: #778692;
    }

    .doctor-details-list{
      $font-size: (14/16)*1em;
      $line-height: (22/14)*1em;
      font: 400 #{$font-size}/#{$line-height} $font-rubik;
      color: #383b41;
      display: block;
      margin-bottom: 25px;
    }
      .doctor-details-location-link{
        display: block;
        margin: 5px 0;
      }
  }
}