#primary-footer{

  @include mq('lt', 1000px){
  }

  &-inner{
    padding: 90px 100px;

    @include mq('lt', 1000px){
      padding: 35px;
    }



    .primary-footer-1{
      display: flex;
      justify-content: space-between;
      align-content: space-between;
      align-items: flex-end;
      
      @include mq('lt', 650px){
        display: block;
      }

      blockquote{
        width: (500/1200)*100%;
        transition: width .3s;

        @include mq('lt', 1200px){
          width: (650/1200)*100%;
        }

        @include mq('lt', 650px){
          width: 100%;
          margin-bottom: 25px;
        }

        .quote-text{
          color: #ffffff;
        }

        .quote-attribution{
          color: #778692;
        }

        .more-testimonials-link{
          display: block;
          $font-size: (14/16)*1em;
          $line-height: (22/16)*1em;
          font: 500 #{$font-size}/#{$line-height} $font-rubik;
          color: #009bde;
          margin-top: 50px;

          &:hover{
            color: #778692;
          }
        }
      }
    }

    .primary-footer-2{
      padding-bottom: 75px;

      hr.jump-to-top{
        position: relative;
        text-align: center;
        border: 0;
        outline: 0;
        height: 1.5em;
        margin: 50px 0;

        &:before{
          content: '';
          background-image: linear-gradient(to right, #4f545b, #4f545b 47.4%, transparent 47.5%, transparent 52.5%, #4f545b 52.6%);
          position: absolute;
          left: 0;
          top: 50%;
          width: 100%;
          height: 1px;
          z-index: 1;

          @include mq('lt', 700px){
            background-image: linear-gradient(to right, #4f545b, #4f545b 45%, transparent 45.1%, transparent 55%, #4f545b 55.1%);
          }
        }

        &:after{
          content: "";
          display: block;
          @include sprite($minimal-logo);
          position: absolute;
          top: 3px;
          margin: auto;
          left: 0;
          right: 0;
          transition: transform .5s;
        }

        &:hover{
          cursor: pointer;

          &:before{
            background-image: linear-gradient(to right, #009bde, #009bde 47.4%, transparent 47.5%, transparent 52.5%, #009bde 52.6%);

            @include mq('lt', 700px){
              background-image: linear-gradient(to right, #009bde, #009bde 45%, transparent 45.1%, transparent 55%, #009bde 55.1%);
            }
          }

          &:after{
            @include sprite($minimal-logo-hover);
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  .primary-footer-3{
    $font-size: (10/16)*1em;
    $line-height: normal;
    font: 400 #{$font-size}/#{$line-height} $font-rubik;
    background-color: #383c41;
    border-top: 1px solid #26292d;
    padding: 40px 35px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #ffffff;

    @include mq('lt', 400px){
      padding: 35px 15px;
    }

    .copyright{
      display: block;
      margin-right: 40px;

      @include mq('lt', 600px){
        margin-right: 10px;
      }
    }

    .small-print-navigation{
      ul{
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}
  #footer-contact-info-wrapper{
    width: 150px;

    .footer-contact-heading{
      display: block;
      $font-size: (16/16)*1em;
      $line-height: (16/16)*1em;
      font: 400 #{$font-size}/#{$line-height} $font-rubik;
      color: #ffffff;
    }
    .footer-contact-info{
      $font-size: (14/16)*1em;
      $line-height: (20/14)*1em;
      font: 400 #{$font-size}/#{$line-height} $font-rubik;
      color: #acb0b5;

      address{
        margin: 15px 0;
        font-style: normal;
      }

      a{
        color: inherit;

        &:hover{
          color: #009bde;
        }
      }
    }
  }

  #footer-navigation{
    display: flex;
    justify-content: space-between;
    padding: 0 (220/1200)*100%;
    transition: padding .3s;

    @include mq('lt', 1400px){
      padding: 0 (110/1200)*100%;
    }

    @include mq('lt', 1000px){
      padding: 0;
    }

    @include mq('lt', 900px){
      flex-wrap: wrap;
    }

    @include mq('lt', 760px){
      justify-content: center;
    }

    ul{
      @include mq('lt', 760px){
        width: 50%;
        margin-top: 25px;

        &:nth-child(even){
          text-align: right;
        }
      }

      @include mq('lt', 400px){
        width: 100%;

        &:nth-child(even){
          text-align: left;
        }
      }

      li{
        $font-size: (14/16)*1em;
        $line-height: normal;
        font: 500 #{$font-size}/#{$line-height} $font-rubik;
        color: #778692;
        margin-bottom: 20px;

        &.menu-heading{
          color: #ffffff;
        }

        a{
          color: inherit;

          &:hover {
            color: #009bde;
          }
        }
      }
    }

    #footer-navigation-4>li.menu-heading{
      margin-bottom: 35px;
    }
  }

  #footer-social-media{
    margin-top: 30px;
    display: flex;
    align-content: center;

    li{
      display: block;

      &:nth-child(2){
        margin: 0 20px;
      }
      
      a{
        display: inline-block;
      }

      // Social Media Icons -- Due to the nature of npm-sprite, you have to pass the sprite variables along with the name
      // for the class itself. Kind of frustrating, but still cleaner than repeating 5-6 lines of code 3 times.
      $social-media-icons:  ($instagram, $instagram3x, 'instagram'),
              ($facebook, $facebook3x, 'facebook'),
              ($twitter, $twitter3x, 'twitter');

      @each $icon-variable, $icon3x-variable, $icon-name in $social-media-icons{
        .#{$icon-name}{
          @include sprite($icon-variable);

          @include mq(lt, 750px){
            @include sprite($icon3x-variable);
            transform: scale(.66);
          }
        }
      }
    }
  }



