#main-header{
  background-color: #ffffff;
  padding: 0 50px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.05);

  @include mq(lt, 1000px){
    padding: 0 10px;
  }
}

  // Main Navigation
  #main-navigation{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
    @include mq(lt, 750px){
      display: block;
    }
  }

  // Page Links
  #pages{
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;

    @include mq(lt, 750px){
      justify-content: center;
    }

    li{

      &#logo{
        margin: 0;
        border-top: 0;

        @include mq(lt, 750px){
          width: 100%;
          text-align: center;
        }

        img{
          width: 103px;

          @include mq(lt, 750px){
            width: 250px;
          }
        }
      }

      &.menu-item{
        margin: 0 30px;
        padding: 25px 0 35px 0;
        color: #383b41;
        border-top: 10px solid transparent;
        transition: border-top-color .3s;

        &:last-child{
          @include mq(gt, 750px){
            margin-right: 0;
          }
        }

        @include mq(lt, 1300px){
          margin: 0 20px;
        }

        @include mq(lt, 1000px){
          margin: 0 10px;
        }

        @include mq(lt, 750px){
          padding: 0 0 10px 0;
          margin: 0 20px;
        }

        &:hover, &.current_page_item{
          color: #009bde;
          border-top-color: #009bde;

          @include mq(lt, 750px){
            border-top-color: transparent;
          }
        }

        a{
          font: 500 (14/16)*1em initial;
          line-height: normal;
          color: inherit;

          @include mq(lt, 1000px){
            font-size: (13/16)*1em;
          }

          @include mq(lt, 750px){
            font-size: (17/16)*1em;
          }
        }
      }
    }
  }

  // Social Media Icons
  #header-social-media{
    display: flex;
    justify-content: center;
    align-items: center;

    @include mq(lt, 750px){
      margin-top: 15px;
    }
    
    li{
      margin: 0 10px;
      transition: padding-bottom .3s;

      &:first-child{
        @include mq(gt, 750px){
          margin-left: 0;
        }
      }

      &:hover{
        padding-bottom: 10px;

        @include mq(lt, 750px){
          padding-bottom: 0;
          transform: scale(1.33);
        }
      }

      a{
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    // Social Media Icons -- Due to the nature of npm-sprite, you have to pass the sprite variables along with the name
    // for the class itself. Kind of frustrating, but still cleaner than repeating 5-6 lines of code 3 times.
    $social-media-icons:  ($instagram, $instagram3x, 'instagram'),
                          ($facebook, $facebook3x, 'facebook'),
                          ($twitter, $twitter3x, 'twitter');

    @each $icon-variable, $icon3x-variable, $icon-name in $social-media-icons{
      .#{$icon-name}{
        @include sprite($icon-variable);

        @include mq(lt, 750px){
          @include sprite($icon3x-variable);
          transform: scale(.66);
        }
      }
    }
  }