#sidebar{
  width: (280/1030)*100%;
  margin-left: (50/1030)*100%;

  @include mq('lt', 1000px){
    width: 100%;
    margin-left: 0;
  }

  .button-alert{
    margin-bottom: 35px;
  }
}

  .sidebar-dropdown-navigation{
    margin-bottom: 30px;

    ul{
      display: none;
      background-color: rgba(#acb0b5, .1);
      border: 1px solid #deedf4;
      border-top: 0;
      padding: 5px 20px 20px 20px;


      li{
        display: block;
        margin: 10px 0;
        color: #778692;

        &.current_page_item a, &:hover a{
          color: #009bde;
          padding-left: 10px;
        }

        a{
          display: block;
          transition: padding-left .2s;
          color: inherit;
        }
      }
    }
  }

  .sidebar-the-latest{
    padding: 30px;

    h6{
      text-transform: uppercase;
    }

    hr{
      width: 30px;
      height: 4px;
      background-color: #c5c2bd;
      border: 0;
      padding: 0;
      margin: 0;
    }
  }
    .the-latest-list{
      list-style: none;
      margin: 0;
      padding: 0;

      li{
        margin-top: 25px;
      }

      .excerpt{
        $font-size: (14/16)*1em;
        $line-height: (22/14)*1em;
        font: 400 #{$font-size}/#{$line-height} $font-rubik;
        color: #3b3b41;
      }
      .read-more{
        display: block;
        margin-top: 30px;
        $font-size: (14/16)*1em;
        $line-height: normal;
        font: 400 #{$font-size}/#{$line-height} $font-rubik;
        color: #009bde;

        &:hover{
          color: #778692;
        }
      }
    }
