{% extends 'templates/base.twig' %}
{% block content %}
    {% for archive_post in posts %}
        <article id="post-{{ archive_post.id }}" class="post-wrapper">
            <h2 class="post-title">
                <a href="{{ archive_post.link }}">{{ archive_post.title }}</a>
            </h2>
            <div class="post-meta">
                <span class="post-date"><strong>Posted on</strong> {{ archive_post.post_date | date }} <strong>by</strong> {{ archive_post.author.name }}</span>
            </div>
            <div class="post-excerpt">
                {{ archive_post.get_preview(100, 0, '') }}
            </div>
            <a href="{{ archive_post.link }}" class="post-link">Read More</a>
        </article>
    {% endfor %}

    <div class="tool-pagination">
        <ul class="post-pages">
            {% if posts.pagination.prev %}
                <li><a href="{{posts.pagination.prev.link}}" class="prev-link {{posts.pagination.prev.link|length ? '' : ''}}">Prev</a></li>
            {% endif %}
            {% for page in posts.pagination.pages %}
                <li>
                    {% if page.link %}
                        <a href="{{page.link}}" class="{{page.class}}">{{page.title}}</a>
                    {% else %}
                        <span class="{{page.class}}">{{page.title}}</span>
                    {% endif %}
                </li>
            {% endfor %}
            {% if posts.pagination.next %}
                <li><a href="{{posts.pagination.next.link}}" class="next-link {{posts.pagination.next.link|length ? '' : ''}}">Next</a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}