{% extends 'templates/base.twig' %}
{% block content %}
    <img src="{{ TimberImage(post.get_field('photo')).src }}" alt="" class="doctor-single-photo">
    {{ post.content }}
    <h2>Specialties</h2>
    <ul>
        {% for specialty in post.get_field('specialties') %}
            <li>{{ specialty.specialty_name | e }}</li>
        {% endfor %}
    </ul>
    <h2>Locations</h2>
    <ul>
        {% for location in post.get_field('locations') %}
            <li><a href="{{ location.link }}">{{ location.title }}</a></li>
        {% endfor %}
    </ul>
    <h2>Easter Egg</h2>
    <iframe width="100%" height="350" src="https://www.youtube.com/embed/vP_1T4ilm8M" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
{% endblock %}