{% extends 'templates/base.twig' %}
{% block content %}
    {{ post.content }}
    <ul>
        {% for location in locations %}
            <li>{{ location.title }}</li>
        {% endfor %}
    </ul>
{% endblock %}