{% extends 'templates/base.twig' %}
{% block content %}
    {{ post.content }}
    <ul>
        {% for service in services %}
            <li>{{ service.title }}</li>
        {% endfor %}
    </ul>
{% endblock %}