{% extends 'templates/base.twig' %}
{% block content %}
    {{ post.content }}
    <ul id="testimonials-list">
        {% for testimonial in testimonials %}
            <li>
                <blockquote>
                    <div class="quote-marks"></div>
                    <span class="quote-text">{{ testimonial.content | striptags }}</span>
                    <span class="quote-attribution">&ndash; {{ testimonial.title | e }}</span>
                </blockquote>
            </li>
        {% endfor %}
    </ul>
{% endblock %}