<ul class="doctor-grid">
    {% for doctor in doctors %}
        <li class="bordered-box">
            <div class="doctor-photo" style="background-image: url('{{ TimberImage(doctor.photo).src }}');"></div>
            <div class="doctor-details_top">
                <h5>{{ doctor.title | e }}</h5>
                <a href="{{ doctor.link }}" class="doctor-profile-link">View Profile</a>
            </div>
            <div class="doctor-details_bottom">
                <span class="doctor-details-heading">Specialties:</span>
                <span class="doctor-details-list">
                    {% for specialty in doctor.get_field('specialties') %}
                        {{ specialty.specialty_name | e }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </span>
                <span class="doctor-details-heading">Locations:</span>
                <span class="doctor-details-list">
                    {% for location in doctor.get_field('locations') %}
                        <a href="{{ location.link }}" title="{{ location.title | e }}" class="doctor-details-location-link">{{ location.title | e }}</a>
                    {% endfor %}
                </span>
            </div>
        </li>
    {% endfor %}
</ul>