<nav class="sidebar-dropdown-navigation">
    <h4>{{ title | e }}</h4>
    <a href="#" class="button-dropdown-nav bordered-box sidebar-navigation-dropdown-toggle">
        <span>Choose a subpage&hellip;</span>
        <span class="arrow">&#9664;&#xFE0E;</span>
    </a>
    <ul class="sidebar-dropdown-navigation">
        {% for item in menu_items %}
            <li>
                <a href="{{ function('get_the_permalink', item.link.ID) }}">{{ item.link.post_title }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>