<div class="sidebar-the-latest bordered-box">
    <h6>{{ title | e }}</h6>
    <hr>
    <ul class="the-latest-list">
    {% for post in posts %}
        <li>
            <h4>{{ post.title | e }}</h4>
            <span class="excerpt">{{ post.get_preview('14', false, '') }}</span>
            <a href="{{ post.link }}" class="read-more">Continue Reading</a>
        </li>
    {% endfor %}
    </ul>
</div>