/*
 * Mixins for Breakpoints
 * Updated 2/18/16
 */

@mixin mq( $gtlt, $width ){
    @if $gtlt == 'lt' {
      @media only screen and ( max-width: $width ) {
        @content;
      }
    } @else {
      @media only screen and ( min-width: $width ) {
        @content;
      }
    }
}

.full-width{
  width: 100%;
}

.fixed-width{
  width: 1600px;
  margin: 0 auto;

  @include mq(lt, 1600px){
    width: 95%;
  }
}
