$quote-x: -5px;
$quote-y: -5px;
$quote-width: 77px;
$quote-height: 50px;
$quote: $quote-x $quote-y $quote-width $quote-height;
$twitter3x-x: -5px;
$twitter3x-y: -65px;
$twitter3x-width: 63px;
$twitter3x-height: 60px;
$twitter3x: $twitter3x-x $twitter3x-y $twitter3x-width $twitter3x-height;
$instagram3x-x: -92px;
$instagram3x-y: -5px;
$instagram3x-width: 57px;
$instagram3x-height: 57px;
$instagram3x: $instagram3x-x $instagram3x-y $instagram3x-width $instagram3x-height;
$facebook3x-x: -159px;
$facebook3x-y: -5px;
$facebook3x-width: 48px;
$facebook3x-height: 63px;
$facebook3x: $facebook3x-x $facebook3x-y $facebook3x-width $facebook3x-height;
$twitter2x-x: -159px;
$twitter2x-y: -78px;
$twitter2x-width: 42px;
$twitter2x-height: 40px;
$twitter2x: $twitter2x-x $twitter2x-y $twitter2x-width $twitter2x-height;
$instagram2x-x: -92px;
$instagram2x-y: -72px;
$instagram2x-width: 38px;
$instagram2x-height: 38px;
$instagram2x: $instagram2x-x $instagram2x-y $instagram2x-width $instagram2x-height;
$facebook2x-x: -5px;
$facebook2x-y: -135px;
$facebook2x-width: 32px;
$facebook2x-height: 42px;
$facebook2x: $facebook2x-x $facebook2x-y $facebook2x-width $facebook2x-height;
$twitter-x: -47px;
$twitter-y: -135px;
$twitter-width: 21px;
$twitter-height: 20px;
$twitter: $twitter-x $twitter-y $twitter-width $twitter-height;
$minimal-logo-hover-x: -78px;
$minimal-logo-hover-y: -135px;
$minimal-logo-hover-width: 20px;
$minimal-logo-hover-height: 20px;
$minimal-logo-hover: $minimal-logo-hover-x $minimal-logo-hover-y $minimal-logo-hover-width $minimal-logo-hover-height;
$minimal-logo-x: -108px;
$minimal-logo-y: -135px;
$minimal-logo-width: 20px;
$minimal-logo-height: 20px;
$minimal-logo: $minimal-logo-x $minimal-logo-y $minimal-logo-width $minimal-logo-height;
$instagram-x: -138px;
$instagram-y: -135px;
$instagram-width: 19px;
$instagram-height: 19px;
$instagram: $instagram-x $instagram-y $instagram-width $instagram-height;
$facebook-x: -217px;
$facebook-y: -5px;
$facebook-width: 16px;
$facebook-height: 21px;
$facebook: $facebook-x $facebook-y $facebook-width $facebook-height;

@mixin sprite-image {
  background-image: url("assets/images/spritesheet.png");
}
@mixin sprite-position($sprite) {
  background-position: nth($sprite, 1) nth($sprite, 2);
}
@mixin sprite-width($sprite) {
  width: nth($sprite, 3);
}
@mixin sprite-height($sprite) {
  height: nth($sprite, 4);
}
@mixin sprite($sprite) {
  @include sprite-image;
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
