    </div>
    <footer id="primary-footer"
            style="background:url('{{ TimberImage(site_options.footer_image_settings.image).src }}')
                    {{ site_options.footer_image_settings.image_positioning | e }} {{ site_options.footer_image_settings.vertical_offset | e }}
                    no-repeat;">
        <div id="primary-footer-inner" style="{{ footer_image_styles }}">
            <div class="primary-footer-1">
                {% for testimonial in footer_testimonials %}
                    <blockquote>
                        <div class="quote-marks"></div>
                        <span class="quote-text">
                        {{ testimonial.content | striptags }}
                    </span>
                        <span class="quote-attribution">&ndash; {{ testimonial.title | e }}</span>

                        <a href="{{ site.url }}/testimonials" class="more-testimonials-link">See what others are saying</a>
                    </blockquote>
                {% endfor %}

                <div id="footer-contact-info-wrapper">
                    <span class="footer-contact-heading">Contact Us</span>
                    <div class="footer-contact-info">
                        <address>
                            700 W. Awesome Ave. <br>
                            Funkytown, XH 88888 <br>
                        </address>
                        <a href="tel:800-666-6666" class="footer-contact-info-phone">800.666.6666</a>
                    </div>
                </div>
            </div>
            <div class="primary-footer-2">
                <hr class="jump-to-top" title="Jump to top of page">
                <nav id="footer-navigation">
                    <ul>
                        {% for item in footer_navigation_1.get_items %}
                            {% set heading_class = (item.make_heading) ? 'menu-heading' : '' %}
                            <li class="{{ item.classes | join(' ') }} {{ heading_class }}">
                                <a href="{{ item.link }}">{{ item.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    <ul>
                        {% for item in footer_navigation_2.get_items %}
                            {% set heading_class = (item.make_heading) ? 'menu-heading' : '' %}
                            <li class="{{ item.classes | join(' ') }} {{ heading_class }}">
                                <a href="{{ item.link }}">{{ item.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    <ul>
                        {% for item in footer_navigation_3.get_items %}
                            {% set heading_class = (item.make_heading) ? 'menu-heading' : '' %}
                            <li class="{{ item.classes | join(' ') }} {{ heading_class }}">
                                <a href="{{ item.link }}">{{ item.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    <ul id="footer-navigation-4">
                        {% for item in footer_navigation_4.get_items %}
                            {% set heading_class = (item.make_heading) ? 'menu-heading' : '' %}
                            <li class="{{ item.classes | join(' ') }} {{ heading_class }}">
                                <a href="{{ item.link }}">{{ item.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    <div>
                        <a href="#" class="button-standard">E-news Signup</a>
                        <ul id="footer-social-media">
                            {% include 'partials/social-media-links.twig' %}
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="primary-footer-3">
            <span class="copyright">&copy; 2017 Company Name</span>
            <nav class="small-print-navigation">
                <ul>
                    {% for item in small_print_navigation.get_items %}
                        <li class="{{ item.classes | join(' ') }}">
                            <a href="{{ item.link }}">{{ item.title }}</a>
                            {% if not loop.last %}&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;{% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </footer>
    {{ wp_footer }}
</body>
</html>