<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% if wp_title %}
            {{ wp_title }}
        {% else %}
            {{ site.name }}
        {% endif %}
    </title>
    {{ wp_head }}
</head>
<body id="top" class="{{ body_class }}">
    <div id="body-wrapper">
        <header id="main-header">
            <nav id="main-navigation">
                <ul id="pages">
                    <li id="logo">
                        <a href="{{ site.url }}">
                            <img src="{{ theme.link }}/assets/images/logo.png" alt="{{ site.name }} Logo">
                        </a>
                    </li>
                    {# Generate nav items#}
                    {% for item in main_navigation.get_items %}
                        <li class="{{ item.classes | join(' ') }}">
                            <a href="{{ item.link }}">{{ item.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
                
                <ul id="header-social-media">
                    {% include 'partials/social-media-links.twig' %}
                </ul>
            </nav>
        </header>
