{% if(site_options.instagram_profile_url) %}
    <li><a href="{{ site_options.instagram_profile_url }}" class="instagram" title="Follow us on Instagram"></a></li>
{% endif %}
{% if(site_options.facebook_profile_url) %}
    <li><a href="{{ site_options.facebook_profile_url }}" class="facebook" title="Like us on Facebook"></a></li>
{% endif %}
{% if(site_options.twitter_profile_url) %}
    <li><a href="{{ site_options.twitter_profile_url }}" class="twitter" title="Follow us on Twitter"></a></li>
{% endif %}